@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 z-modal-overlay;
  }

  .modal-container {
    @apply fixed z-modal bg-background-secondary pt-16 pr-16 pb-32 pl-16;
  }

  .modal-container-position {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-12 w-auto bottom-auto;
  }

  .modal-container-position-mobile {
    @apply bottom-0 left-0 rounded-t-12 w-full;
  }

  .main-container {
    @apply mt-24 px-16 w-full desktop:mx-auto desktop:mt-100 desktop:w-1200;
  }
}

@layer utilities {
  .underline-offset-4 {
    text-underline-offset: 4px;
  }
}

:root {
  font-family: pretendard;
  -webkit-font-smoothing: antialiased;

  /* ------ */
  /* Colors */
  /* ------ */

  /* ------------ */
  /* brand Colors */
  /* ------------ */

  --brand-primary: #5d73e8;
  --brand-secondary: #8194fb;
  --brand-tertiary: #a3e635;
  --brand-gradient: linear-gradient(90deg, #10b981, #a3e635);

  /* ------------ */
  /* point Colors */
  /* ------------ */

  --point-purple: #a855f7;
  --point-blue: #3b82f6;
  --point-cyan: #06b6d4;
  --point-pink: #ec4899;
  --point-rose: #f43f5e;
  --point-orange: #f97316;
  --point-yellow: #eab308;

  /* ----------------- */
  /* background Colors */
  /* ----------------- */

  /* 다크모드 background */
  --background-primary: #0f172a;
  --background-secondary: #1e293b;
  --background-tertiary: #334155;
  --background-inverse: #ffffff;

  /* 라이트모드 background */
  /* --background-primary: #fcfaf5;
  --background-secondary: #f0efec;
  --background-tertiary: #ffffff;
  --background-inverse: #0f172a; */

  /* ------------------ */
  /* interaction Colors */
  /* ------------------ */
  --interaction-inactive: #94a3b8;
  --interaction-hover: #4d65e0;
  --interaction-pressed: #3d3bc2;
  --interaction-focus: #1c74a6;

  /* --border-primary: #5d73e8; */

  /* ------------- */
  /* border Colors */
  /* ------------- */

  /* 다크모드 보더 */
  --border-primary: rgba(248, 250, 252, 0.5); /* #f8fafc, 50% */

  /* 라이트모드 보더 */
  /* --border-primary: #5d73e8;
  --border-secondary: #cbd5e1; */

  /* ----------- */
  /* text Colors */
  /* ----------- */

  /* 다크모드 텍스트 컬러 */
  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;
  --text-tertiary: #e2e8f0;
  --text-default: #64748b;
  --text-inverse: #ffffff;
  --text-disabled: #94a3b8;

  /* 라이트모드 텍스트 컬러 */
  /* --text-primary: #5d73e8;
  --text-primary: #0f172a;
  --text-secondary: #1e293b;
  --text-tertiary: #334155;
  --text-default: #64748b;
  --text-inverse: #ffffff;
  --text-disabled: #94a3b8; */

  /* ---------- */
  /* etc Colors */
  /* ---------- */

  --status-danger: #dc2626;

  --icon-primary: #64748b;
  --icon-inverse: #f8fafc;
  --icon-brand: #5d73e8;

  --modal-danger: #ef4444;

  /* ------- */
  /* Shadows */
  /* ------- */

  --shadow-xl: box-shadow: 0px 25px 50px -12px #00000040;
}

body {
  background-color: #0f172a;
}

/* img,
video {
  max-width: none !important;
  height: auto;
} */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  width: 3px;
  height: 47px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-tertiary);
  padding-right: 5px;
  height: 31px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  width: 3px;
  height: 47px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-tertiary);
  padding-right: 5px;
  height: 31px;
}
