@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 z-modal-overlay;
  }

  .modal-container {
    @apply fixed z-modal bg-background-secondary pt-[16px] pr-[16px] pb-[32px] pl-[16px];
  }

  .modal-container-position {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-[12px] w-auto bottom-auto;
  }

  .modal-container-position-mobile {
    @apply bottom-0 left-0 rounded-t-[12px] w-full;
  }
}

:root {
  font-family: pretendard;
  -webkit-font-smoothing: antialiased;

  /* ------ */
  /* Colors */
  /* ------ */

  /* --brand-primary: #10b981;
  --brand-secondary: #34d399;
  --brand-tertiary: #a3e635;

  --point-purple: #a855f7;
  --point-blue: #3b82f6;
  --point-cyan: #06b6d4;
  --point-pink: #ec4899;
  --point-rose: #f43f5e;
  --point-orange: #f97316;
  --point-yellow: #eab308;

  --background-primary: #0f172a;
  --background-secondary: #1e293b;
  --background-tertiary: #334155;
  --background-inverse: #ffffff;

  --intersection-inactive: #94a3b8;
  --intersection-hover: #059669;
  --intersection-pressed: #047857;
  --intersection-focus: #10b981; */

  /* --border-primary: rgba(248, 250, 252, 0.5); #f8fafc, 50% */

  /* --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;
  --text-tertiary: #e2e8f0;
  --text-default: #64748b;
  --text-inverse: #ffffff;
  --text-disabled: #94a3b8;

  --status-danger: #dc2626;

  --icon-primary: #64748b;
  --icon-inverse: #f8fafc;
  --icon-brand: #10b981; */

  --brand-primary: #5d73e8;
  --brand-secondary: #8194fb;
  --brand-tertiary: #a3e635;
  --brand-gradient: linear-gradient(90deg, #10b981, #a3e635);
  --point-purple: #a855f7;
  --point-blue: #3b82f6;
  --point-cyan: #06b6d4;
  --point-pink: #ec4899;
  --point-rose: #f43f5e;
  --point-orange: #f97316;
  --point-yellow: #eab308;

  --background-primary: #fcfaf5;
  --background-secondary: #f0efec;
  --background-tertiary: #ffffff;
  --background-inverse: #0f172a;
  --background-inverse: #0f172a;

  --intersection-inactive: #94a3b8;
  --intersection-hover: #4d65e0;
  --intersection-pressed: #3d3bc2;
  --intersection-focus: #1c74a6;

  --border-primary: #5d73e8;
  --border-secondary: #cbd5e1;

  --text-primary: #0f172a;
  --text-secondary: #1e293b;
  --text-tertiary: #334155;
  --text-default: #64748b;
  --text-inverse: #ffffff;
  --text-disabled: #94a3b8;

  --status-danger: #dc2626;

  --icon-primary: #64748b;
  --icon-inverse: #f8fafc;
  --icon-brand: #5d73e8;

  --modal-danger: #ef4444;

  /* ------ */
  /* Shadows */
  /* ------ */

  --shadow-xl: box-shadow: 0px 25px 50px -12px #00000040;
}
